<div class="row" [hidden]="!showDeleteMessage">
  <div class="col-sm-4">
    <div class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>User Data Deleted</strong>
    </div>
  </div>
</div>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Login</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.name }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td>
          <button (click)="deleteUser(user.id)" class='btn btn-primary'>
            <i class="c0">Delete</i>
          </button>
          <button (click)="view(user.id)" class='btn btn-info'
                  data-toggle="modal" data-target="#myModal">
            <i class="fa fa-futboll-0">View</i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
