<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF­8"/>
    <title th:text="#{main.title}">
        Spring Boot Recipes - Admin panel
    </title>
</head>

<body>
<h1 th:text="#{index.title}">Admin panel</h1>
<h3>Language</h3>
<div>
    <a href="?locale=ru" th:text="#{main.language.ru}">RU</a>
    <a href="?locale=en" th:text="#{main.language.en}">EN</a>
    <a href="?locale=de" th:text="#{main.language.de}">DE</a>
</div>
<a th:href="@{/books.html}" href="#" th:text="#{index.books.link}">
    List of books
</a>
<a th:href="@{/orders}" href="#" th:text="#{index.orders.link}">List of orders</a>
</body>
</html>