<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{title}}</h2>
          <ul class="text-center list-inline py-3">
            <li *ngFor="let btn of buttons" class="list-inline-item">
              <a routerLink="{{btn.link}}" class="btn btn-info">{{ btn.name }}</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
